{% extends "base.html" %}

{% block title %}About Us{% endblock title %}

{% block body %}
<div class="container rounded h-75 text-white-20" style="max-width: 700px;">
  <h2 class="text-uppercase text-center mb-4 my-4 py-3">About Us</h2>
  <div class="pb-2 mb-4">
    <p>
      Thank you for visiting our platform. We are a team of dedicated pupil devoted to offering top products and services with a relentless focus on quality and excellence."
    </p>
    <h2>VERSION 1.0.5</h2>
    <hr>
    <h2>We are a group of passionate individuals dedicated to serving society and making a meaningful difference.</h2>
    <hr>
    <h2>Our Creator Team:</h2>
    <ul class="ml-5">
      <li>Sham Narwaria</li>
      <li>Alhan Beshra</li>
      <li>Abhishek Raj</li>
    </ul>
    <hr>
    <p class="text-muted">Thank you, For visiting our website</p>
  </div>
</div>
{% endblock body %}